html {
	/*height: 100vh;*/
}

body {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.center-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}


#main-canvas {
	border: #ccc solid thin;
    box-shadow: 0px 5px 10px #ddd;
    margin-top: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#form-container {
    margin: 15px auto 0px auto;
}