html {
	/*height: 100vh;*/
}

body {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.center-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}


#main-canvas {
	border: #ccc solid thin;
    box-shadow: 0px 5px 10px #ddd;
    margin-top: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}


#container {

}

#form-container {
	margin: 15px auto 0px auto;
}

#form-container .panel-heading span {
	float: right;
}

#form-container .form-group label {
	width: 20%;
}


#form-container .form-group input[type="range"] {
	width: 70%; 
	float:right;
}

#form-container .list-group-item .form-group {
	display: inline;
}

.color-picker-panel input {
	font-family: monospace;
}

.fix-radio {
	display: inline-block;
    width: 60%;
    text-align: center;
}

input[type="range"]:disabled {
	cursor:not-allowed;
}

/*
#context-menu .dropdown-menu li:not(.divider) {
	margin: 0 10px;
}
*/